#player {
  width: 60px;
  height: 60px;
  background: #ffcc99;
  border-radius: 50%;
  position: absolute;
  bottom: 60px;
  left: 80px;
}

/* 目 */
#player::before,
#player::after {
  content: "";
  position: absolute;
  top: 18px;
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 50%;
}

#player::before {
  left: 18px;
}
#player::after {
  right: 18px;
}

/* ほっぺ */
#player span {
  position: absolute;
  bottom: 14px;
  left: 50%;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  transform: translateX(-50%);
}
